.Box{
    border-radius: 100px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: x-large;
    width: 100%;
    min-height: 6vh ;
    padding: 2vh;
    background-color: white;
}
